
USE [QuanLyQuanCafe]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[username] [nvarchar](20) NOT NULL,
	[DisplayName] [nvarchar](20) NULL,
	[password] [varchar](20) NULL,
	[type] [int] NULL,
	[id_staff] [int] IDENTITY(1,1) NULL,
 CONSTRAINT [PK__ACCOUNT__F3DBC573BEC20F24] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dayCheckIn] [datetime] NULL,
	[dayCheckOut] [datetime] NULL,
	[discount] [int] NULL,
	[id_staff] [int] NULL,
	[id_table] [int] NULL,
	[status] [int] NULL,
	[totalPrice] [int] NULL,
 CONSTRAINT [PK__BILL__3213E83F172F5E61] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BILL_INF]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BILL_INF](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_bill] [int] NULL,
	[id_food] [int] NULL,
	[amount] [int] NULL,
 CONSTRAINT [PK__BILL_INF__3213E83F91E7D32C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOOD]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [int] NULL,
	[name] [nvarchar](50) NULL,
	[id_category] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOOD_CATEGORY]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOOD_CATEGORY](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PART_TIME]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PART_TIME](
	[station] [nvarchar](20) NULL,
	[Time_begin] [datetime] NULL,
	[Time_end] [datetime] NULL,
	[id_staff] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_staff] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STAFF]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STAFF](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NULL,
	[sdt] [varchar](15) NULL,
	[address] [nvarchar](20) NULL,
	[sex] [nvarchar](20) NULL,
	[salary] [int] NULL,
	[status] [int] NULL,
 CONSTRAINT [PK__STAFF__3213E83F0CCA053F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TABLE_FOOD]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLE_FOOD](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](20) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ACCOUNT] ([username], [DisplayName], [password], [type]) VALUES (N'admin', N'admin', N'a1',1)
INSERT [dbo].[ACCOUNT] ([username], [DisplayName], [password], [type]) VALUES (N'linhll', N'linhll', N'123', 0)
INSERT [dbo].[ACCOUNT] ([username], [DisplayName], [password], [type]) VALUES (N'myldt', NULL, N'123', 0)
GO
SET IDENTITY_INSERT [dbo].[BILL] ON 

INSERT [dbo].[BILL] ([id], [dayCheckIn], [dayCheckOut], [discount], [id_staff], [id_table], [status], [totalPrice]) VALUES (14, CAST(N'2020-12-17T22:24:17.103' AS DateTime), NULL, 0, 6, 3, 0, NULL)
SET IDENTITY_INSERT [dbo].[BILL] OFF
GO
SET IDENTITY_INSERT [dbo].[BILL_INF] ON 

INSERT [dbo].[BILL_INF] ([id], [id_bill], [id_food], [amount]) VALUES (24, 14, 1, 1)
INSERT [dbo].[BILL_INF] ([id], [id_bill], [id_food], [amount]) VALUES (25, 14, 6, 1)
SET IDENTITY_INSERT [dbo].[BILL_INF] OFF
GO
INSERT [dbo].[FOOD] ([price], [name], [id_category]) VALUES (29000, N'Phin sữa đá', 1)
INSERT [dbo].[FOOD] ( [price], [name], [id_category]) VALUES ( 29000, N'Phin đen đá', 1)
INSERT [dbo].[FOOD] ([price], [name], [id_category]) VALUES (29000, N'Bạc Xỉu', 1)
GO
INSERT [dbo].[FOOD_CATEGORY] ( [name]) VALUES ( N'Cà phê')
INSERT [dbo].[FOOD_CATEGORY] ( [name]) VALUES ( N'Trà sữa')
INSERT [dbo].[FOOD_CATEGORY] ( [name]) VALUES (N'Trà')
GO
INSERT [dbo].[PART_TIME] ([station], [Time_begin], [Time_end], [id_staff]) VALUES (N'Đã trực', CAST(N'2020-12-01T09:00:00.000' AS DateTime), CAST(N'2020-12-01T21:00:00.000' AS DateTime), 1)
INSERT [dbo].[PART_TIME] ([station], [Time_begin], [Time_end], [id_staff]) VALUES (N'Chưa trực', CAST(N'2020-12-02T09:00:00.000' AS DateTime), CAST(N'2020-12-02T21:00:00.000' AS DateTime), 2)
INSERT [dbo].[PART_TIME] ([station], [Time_begin], [Time_end], [id_staff]) VALUES (N'Chưa trực', CAST(N'2020-12-03T09:00:00.000' AS DateTime), CAST(N'2020-12-03T21:00:00.000' AS DateTime), 3)
GO
INSERT [dbo].[STAFF] ( [name], [sdt], [address], [sex], [salary], [status]) VALUES ( N'Huỳnh Thị Hương Ly', N'771111111', N'Quảng Nam', N'nữ', 7000000, 1)
INSERT [dbo].[STAFF] ( [name], [sdt], [address], [sex], [salary], [status]) VALUES ( N'Phan Thành Trung', N'771111112', N'Quảng Bình', N'nữ', 7000000, 1)
INSERT [dbo].[STAFF] ( [name], [sdt], [address], [sex], [salary], [status]) VALUES (N'Lê Đỗ Trà My', N'771111113', N'Bình Dương', N'nữ', 7000000, 1)
GO
INSERT [dbo].[TABLE_FOOD] ( [name], [status]) VALUES ( N'bàn 1', 0)
INSERT [dbo].[TABLE_FOOD] ( [name], [status]) VALUES ( N'bàn 2', 0)
INSERT [dbo].[TABLE_FOOD] ( [name], [status]) VALUES ( N'bàn 3', 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNT__F3DBC572F3991DC9]    Script Date: 18-Dec-20 12:24:36 AM ******/
ALTER TABLE [dbo].[ACCOUNT] ADD  CONSTRAINT [UQ__ACCOUNT__F3DBC572F3991DC9] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK__BILL__id_staff__2C3393D0] FOREIGN KEY([id_staff])
REFERENCES [dbo].[STAFF] ([id])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK__BILL__id_staff__2C3393D0]
GO
ALTER TABLE [dbo].[BILL]  WITH CHECK ADD  CONSTRAINT [FK__BILL__id_table__2D27B809] FOREIGN KEY([id_table])
REFERENCES [dbo].[TABLE_FOOD] ([id])
GO
ALTER TABLE [dbo].[BILL] CHECK CONSTRAINT [FK__BILL__id_table__2D27B809]
GO
ALTER TABLE [dbo].[BILL_INF]  WITH CHECK ADD  CONSTRAINT [FK__BILL_INF__id_bil__35BCFE0A] FOREIGN KEY([id_bill])
REFERENCES [dbo].[BILL] ([id])
GO
ALTER TABLE [dbo].[BILL_INF] CHECK CONSTRAINT [FK__BILL_INF__id_bil__35BCFE0A]
GO
ALTER TABLE [dbo].[BILL_INF]  WITH CHECK ADD  CONSTRAINT [FK__BILL_INF__id_foo__34C8D9D1] FOREIGN KEY([id_food])
REFERENCES [dbo].[FOOD] ([id])
GO
ALTER TABLE [dbo].[BILL_INF] CHECK CONSTRAINT [FK__BILL_INF__id_foo__34C8D9D1]
GO
ALTER TABLE [dbo].[FOOD]  WITH CHECK ADD FOREIGN KEY([id_category])
REFERENCES [dbo].[FOOD_CATEGORY] ([id])
GO
ALTER TABLE [dbo].[PART_TIME]  WITH CHECK ADD  CONSTRAINT [FK__PART_TIME__id_st__38996AB5] FOREIGN KEY([id_staff])
REFERENCES [dbo].[STAFF] ([id])
GO
ALTER TABLE [dbo].[PART_TIME] CHECK CONSTRAINT [FK__PART_TIME__id_st__38996AB5]
GO
/****** Object:  StoredProcedure [dbo].[USP_GetListBillByDate]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetListBillByDate]
@checkIn date, @checkOut date
AS 
BEGIN
	SELECT t.name AS [Tên bàn], b.totalPrice AS [Tổng tiền], 
		dayCheckIn AS [Ngày vào], dayCheckOut AS [Ngày ra], discount AS [Giảm giá]
	FROM dbo.Bill AS b,dbo.TABLE_FOOD AS t
	WHERE dayCheckIn >= @checkIn AND dayCheckOut <= @checkOut AND b.status = 1
	AND t.id = b.id_table
END
GO
/****** Object:  StoredProcedure [dbo].[USP_GetTableList]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_GetTableList]
AS SELECT * FROM dbo.Table_Food
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBill]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[USP_InsertBill]
@idTable INT, @id_staff int
AS
BEGIN
	update table_food
	set status=1
	where id=@idTable
	INSERT dbo.Bill 
	        ( 
				dayCheckIn ,
	          DayCheckOut ,
			  discount,
			  id_staff,
	          id_Table ,
	          status	          
	        )
	VALUES  ( 
			GETDATE() , -- DateCheckIn - date
	          NULL , -- DateCheckOut - date
			  0,
			  @id_staff,
	          @idTable , -- idTable - int
	          0  -- chưa tính tiền	          
	        );
	
END
GO
/****** Object:  StoredProcedure [dbo].[USP_InsertBillInfo]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create PROC [dbo].[USP_InsertBillInfo]
@idBill INT, @idFood INT, @count INT
AS
BEGIN

	DECLARE @isExitsBillInfo INT
	DECLARE @foodCount INT = 1

	SELECT @isExitsBillInfo = id, @foodCount = b.amount
	FROM Bill_Inf AS b 
	WHERE id_Bill = @idBill AND id_Food = @idFood

	IF (@isExitsBillInfo > 0)-- nếu món đã có trong bill thì cộng dồn
	BEGIN
		DECLARE @newCount INT = @foodCount + @count
		IF (@newCount > 0)
			UPDATE dbo.Bill_Inf	
			SET amount = @foodCount + @count 
			WHERE id_Food = @idFood
		ELSE
			DELETE dbo.Bill_Inf WHERE id_Bill = @idBill AND id_Food = @idFood
	END
	ELSE
	BEGIN
		INSERT	dbo.Bill_Inf( id_Bill, id_Food, amount )
		VALUES  (@idBill,  @idFood, @count  )
	END
END
GO
/****** Object:  StoredProcedure [dbo].[USP_Login]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[USP_Login]
@userName nvarchar(100), @passWord nvarchar(100)
AS
BEGIN
	SELECT * 
	FROM dbo.Account a, staff s
	WHERE a.id_staff = s.id and
		UserName = @userName AND PassWord = @passWord and status=1
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SwitchTabelEmpty]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[USP_SwitchTabelEmpty]
@idTable1 INT, @idTable2 int AS 
BEGIN
	update bill
	set id_table=@idTable2
	where status=0 and id_table=@idTable1
	update TABLE_FOOD
	set status=0
	where id=@idTable1
	update TABLE_FOOD
	set status=1
	where id=@idTable2
END
GO
/****** Object:  StoredProcedure [dbo].[USP_SwitchTabelNotEmpty]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROC [dbo].[USP_SwitchTabelNotEmpty]
@idTable1 INT, @idTable2 int AS 
BEGIN
	declare @id1 int
	declare @id2 int
	--lấy id bill bàn bị chuyển
	select @id1=id
	from BILL 
	where id_table=@idTable1 and status=0--0:chưa tính tiền
	--lấy id bill bàn sắp chuyển
	select @id2=id
	from BILL 
	where id_table=@idTable2 and status=0
	--lấy food bàn cũ vào bảng tạm
	SELECT id_bill,id_food,amount
	INTO #lstFoodOldTable --- temporary table
	FROM BILL_INF
	WHERE id_bill=@id1

	update #lstFoodOldTable
	set id_bill=@id2
	--them ds food từ bàn cũ sang mới
	INSERT INTO bill_inf(id_bill,id_food,amount)
	SELECT * FROM #lstFoodOldTable	 
	--thay đổi status bàn bị chuyển
	update table_food
	set status=0 
	where id=@idTable1
	--xóa ds food bàn cũ
	delete BILL_INF where id_bill=@id1
	--xóa bill bàn bị chuyển
	delete bill where id_table=@idTable1 and status=0
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateAccount]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateAccount]
@userName NVARCHAR(20), @displayName NVARCHAR(20), @password VARCHAR(20), @type int, @id_staff int
AS
BEGIN
	UPDATE dbo.Account 
	SET displayName = @displayName , id_staff=@id_staff , Account.password=@password  , type=@type
	WHERE UserName = @userName
END
GO
/****** Object:  StoredProcedure [dbo].[USP_UpdateBill]    Script Date: 18-Dec-20 12:24:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[USP_UpdateBill]
@id int ,@discount int ,@totalPrice int, @id_table int
AS 
BEGIN
	UPDATE Bill 
	SET dayCheckOut = GETDATE(), status = 1,  discount =  @discount, totalPrice = @totalPrice
	WHERE id = @id
	update table_food
	set status=0
	where id=@id_table
END
GO
